
/* General stuff */

* {
    margin: 0;
    padding: 0;
  }
  
  .bg-div {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-image: url(./images/background.jpg);
    background-position: center;
    background-repeat: repeat-y;
    opacity: 0.4;
  }

  body {
      background-color: black;
  }

  @font-face {
    font-family: regular;
    src: url(./fonts/regular.ttf);
  }
  
  @font-face {
    font-family: medium;
    src: url(./fonts/medium.ttf);
  }

  /* Heading */
  
  .heading-main-div {
    width: 100vw;
    text-align: center;
    font-family: medium;
    color: white;
    font-size: 4vh;
    border-bottom: 4px solid white;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
  }

  .heading-left-div {
      width: 25vw;
      padding: 2vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .heading-middle-div {
      width: 50vw;
      padding: 2vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .pointer-heading {
    cursor: pointer;
  }

  .heading-right-div {
    width: 25vw;
    padding: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .link {
      font-family: regular;
      color: white;
  }
  
  /* Homepage Data */
  
  .updated-main-div {
    width: 100vw;
    text-align: center;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    font-family: regular;
    color: white;
    font-size: 2.8vh;
  }
  
  .data-main-div {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
  }
  
  .data-div {
    margin-top: 5vh;
    border: 4px solid white;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    padding: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: regular;
    color: white;
    font-size: 2.8vh;
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  /* Footer */
  
  .footer-main-div {
    position: fixed;
    width: 100vw;
    height: 10vh;
    left: 0;
    bottom: 0;
    color: white;
    font-family: regular;
    background-color: rgba(0, 0, 0, 0.3);
    border-top: 4px solid white;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  /* Countries Stats */

  .select-search-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .select-div {
    display: flex;
    align-items: center;
  }

  .countries-stats-div {
    text-align: center;
  }

  .choose-country {
    font-family: regular;
    color: white;
    font-size: 4vh;
    padding: 2vh;
  }

  .select-box {
    height: 4vh;
    outline: none;
    padding: none;
    border-radius: 5px;
    font-family: regular;
    font-size: 2vh;
  }

  .homepage-link-div {
    position: absolute;
    width: 100vw;
    left: 0;
    bottom: 13vh;
    font-size: 4vh;
    text-align: center;
  }

  .country-main-div {
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: regular;
    color: white;
    font-size: 2.8vh;
  }

  /* FAQ */

  .buttons-top-div {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3vh;
  }

  .faq-button{
    width: 45vw;
    height: 15vh;
    border: 4px solid white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    cursor: pointer;
    text-align: center;
    font-family: regular;
    text-decoration: none;
  }

  .faq-title {
    font-size: 4vh;
    margin-top: 1vh;
    text-decoration: underline;
  }

  .pages-div {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    font-family: regular;
  }

  .faq-link {
    font-family: regular;
    color: white;
    margin: 2vh;
    font-size: 3vh;
}

  /* About Us */

  .p-text {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .text-div {
    width: 100vw;
    text-align: center;
    color: white;
    font-family: regular;
    margin-top: 2vh;
    font-size: 3vh;
  }

  .text-div-privacy {
    width: 100vw;
    height: 54vh;
    text-align: center;
    color: white;
    font-family: regular;
    margin-top: 2vh;
    font-size: 3vh;
    overflow: scroll;
    background-color: rgba(0, 0, 0, 0.3);
  }

